<!DOCTYPE html>
<html>

<body>
<h2>Statistics</h2>
<table>
	<col>
	<colgroup span="3"></colgroup>
	<thead>
		<tr>
			<th scope="col">Feature</th>
			<th scope="col">Value</th>
			<th scope="col">Count</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th> All Count </th>
			<th> All </th>
			<td>{{Number_of_squirrels}}</td>
		</tr>
		<tr>
			<th> Age </th>
			<th> Adult </th>
			<td>{{Number_of_adult_squirrels}}</td>
		</tr>
		<tr>
			<th> Age </th>
			<th> Juvenile </th>
			<td>{{Number_of_juvenile_squirrels}}</td>
		</tr>
		<tr>
			<th> Age </th>
			<th> Unknown </th>
			<td>{{age_unknown}}</td>
		</tr>
		<tr>
			<th> fur color </th>
			<th> Gray </th>
			<td>{{Number_of_gray_squirrels}}</td>
		</tr>
		<tr>
			<th> fur color </th>
			<th> Cinnamon </th>
			<td>{{Number_of_cinnamon_squirrels}}</td>
		</tr>
		<tr>
			<th> fur color </th>
			<th> Black </th>
			<td>{{Number_of_black_squirrels}}</td>
		</tr>
		<tr>
			<th> fur color </th>
			<th> Other </th>
			<td>{{other_color}}</td>
		</tr>
		<tr>
			<th> Shift </th>
			<th> AM </th>
			<td>{{AM_Shift}}</td>
		</tr>
		<tr>
			<th> Shift </th>
			<th> PM </th>
			<td>{{PM_Shift}}</td>
		</tr>
		<tr>
			<th> Location </th>
			<th> Ground Plane </th>
			<td>{{Ground_Plane}}</td>
		</tr>
		<tr>
			<th> Location </th>
			<th> Above Ground </th>
			<td>{{Above_Ground}}</td>
		</tr>
		<tr>
			<th> Location </th>
			<th> Unknown </th>
			<td>{{Unknown_location}}</td>
		</tr>

	</tbody>
</table>
</body>
</html>

